html
	head
		title!=titulo
	body
		
		h1 Datos escritos por #{nombre}
		p Nombre y apellidos: #{nombre} #{apellidos}
		p email: #{email}
		p Telefono: #{phone}
		p mensaje: #{mensaje}
		h3 Gracias por contactar con nosotros #{nombre}, sus opiniones seran tenidas en cuenta.
		h2
			a(href="portada.html") Volver a la pagina principal
