html
	head
		title!=titulo
	body
		
		h1 Informacion sobre #{productoElegido}
		h3 #{nombreProducto}
		p Precio: #{precioProducto}
		p Características
		ul
			li Microntrolador: #{Microcontrolador}
			li TensionFuncionamiento: #{TensionFuncionamiento}
			li PuertosUART: #{PuertosUART}
			li MemoriaFlash: #{MemoriaFlash}
			li MemoriaRAM: #{MemoriaRAM}
			li Frecuencia del clock: #{Clock}
		