html
	head
		title!=titulo
	body
		
		h1 Informacion sobre #{productoElegido}
		h3 #{nombreProducto}
		p Precio: #{precioProducto}
		p Descripcion: #{descripcionProducto}
		p Usos: #{usosProducto}
		p Cantidad disponible: #{cantidadDisponibleProducto}